.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h1 {
    font-size: 24px;
    font-weight: bold;
    color: #d35400;
}

.navbar {
    display: flex;
    gap: 30px; 
}

.navbar a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #0a771c;
    transition: 0.3s ease;
}

.navbar a:hover {
    color: #d35400; 
    transform: scale(1.1);
}

.icon {
    font-size: 20px;
    cursor: pointer;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("https://i.pinimg.com/736x/e2/9d/7b/e29d7b610594fc0909687d291b4f18e5.jpg");
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    width: 50px;
    padding: 5px;
    margin: 10px;
    text-align: center;
}
.container img{
    width: 200px;
    height: 150px;
}