body{
    background-color: rgb(212, 102, 212);
}
#container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}


button {
    background-color: #0b610e;
    color: white;
    padding: 10px 15px;
    margin: 10px 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

input[type="text"]:focus {
    outline: none;
    border: 2px solid #4caf50;
}
